blinker==1.4
closure==20121212
coverage==3.7.1
decorator==3.3.2
fakeredis==0.4.0
Flask==0.10
Flask-Assets==0.8
Flask-DebugToolbar==0.7.1
Flask-SeaSurf==0.1.13
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.4.1
hiredis==0.1.1
itsdangerous==0.24
Jinja2==2.8
jsmin==2.0.2.post1
Markdown==2.3.1
MarkupSafe==0.23
mock==1.0.1
python-coveralls==2.4.3
python-dateutil==1.5
PyYAML==3.10
redis==2.9.0
requests==2.10.0
sh==1.11
six==1.10.0
Sixpack==2.2.0
statsd==3.2.1
webassets==0.8
Werkzeug==0.9.1
yuicompressor==2.4.7
