container_commands:
    # Install AWS Inspector which locates EC2 instances with the 'shoprunner:environment-type = prd'
    0001_aws_inspector_agent:
        command:  "bash /tmp/inspector/install"
    # Hacking permissions so Sixpack does not complain
    0100_chmod_sixpack_css:
        command:  "chmod a+w /opt/python/run/venv/lib/python2.7/site-packages/sixpack/static/gen/sixpack.css"
    0101_chmod_sixpack_js:
        command:  "chmod a+w /opt/python/run/venv/lib/python2.7/site-packages/sixpack/static/gen/sixpack.js"
    0102_chmod_sixpack_webassets:
        command:  "chmod a+w /opt/python/run/venv/lib/python2.7/site-packages/sixpack/static/.webassets-cache/*"
    0103_static_symlink:
        command:    'ln -s /opt/python/run/venv/lib/python2.7/site-packages/sixpack/static static"