option_settings:
  aws:elasticbeanstalk:application:environment:
    # Setup our 'local' wheelhouse
    PIP_INDEX_URL:  http://net.shoprunner.prd.wheelhouse.s3-website-us-east-1.amazonaws.com/wheelhouse-v2/
    PIP_FIND_LINKS:  http://net.shoprunner.prd.wheelhouse.s3-website-us-east-1.amazonaws.com/wheelhouse-v2/
    # Sixpack specific config values
    SIXPACK_CONFIG_REDIS_PORT:  6379
    # Procution Redis - sixpack-prd.0tedxg.ng.0001.use1.cache.amazonaws.com
    # Stage Redis - sixpack-stg.0tedxg.ng.0001.use1.cache.amazonaws.com
    SIXPACK_CONFIG_REDIS_HOST: [choose_redis_instance] 
    SIXPACK_CONFIG_REDIS_PREFIX:  sixpack
    SIXPACK_CONFIG_REDIS_DB: 1
    SIXPACK_CONFIG_ROBOT_REGEX:  $^|trivial|facebook|MetaURI|butterfly|google|amazon|goldfire|sleuth|xenu|msnbot|SiteUptime|Slurp|WordPress|ZIBB|ZyBorg|pingdom|bot|yahoo|slurp|java|etch|spider|url|crawl|oneriot|abby|commentreader|twiceler
    SIXPACK_CONFIG_IGNORE_IPS:  None
    SIXPACK_CONFIG_SECRET:  ThisShouldBeSomethingVerySecretIGuess
    STATIC: static/
