files:
    # Add user public keys to the ec2-user authorized_keys file so they can login
    "/home/ec2-user/.ssh/authorized_keys":
        mode:  "000600"
        owner:  ec2-user
        group: ec2-user
        source:  https://s3.amazonaws.com/net.shoprunner.prd.yum/beanstalk-dev-authorized_keys.conf
    "/tmp/inspector/install":
        source:  https://d1wk0tztpsntt1.cloudfront.net/linux/latest/install
    "/etc/puppet/puppet.conf":
        mode:  "000644"
        owner:  root
        group:  root
        source:  https://s3.amazonaws.com/net.shoprunner.prd.yum/puppet.conf
    "/etc/yum.repos.d/shoprunner-noarch.repo":
        mode:  "000644"
        owner:  root
        group:  root
        source:  https://s3.amazonaws.com/net.shoprunner.prd.yum/shoprunner-noarch.repo
    "/etc/yum.repos.d/shoprunner-x86_64.repo":
        mode:  "000644"
        owner:  root
        group:  root
        source:  https://s3.amazonaws.com/net.shoprunner.prd.yum/shoprunner-x86_64.repo
